{% extends "trackerApp/base.html" %}

{% load static %}

{% block content %}

    <div class="container-fluid-margin ml-5 mt-5 col-sm">
        <div class="card p-3 mr-5" style="width: auto ; height: auto">
            <div class="row align-items-center">
                <div class="col text-center">
                    <input id="actividadInput" type="text" class="form-control text-center" style="border: none;" placeholder="Introduce Actividad" value="">
                </div>
                <div class="col text-center">
                    <div id="reloj"></div>
                </div>
                <div class="col-sm-2">
                    <button onclick="startStatus()" type="button" id="start-button" class="btn btn-primary ">Comenzar</button>
                    <button onclick="finishStatus()" type="button" id="finish-button" class="btn btn-danger" hidden>Terminar</button>
                </div>
            </div>
        </div>
        <div class="card p-3 mr-5" style="width: auto ; height: auto">
            <table class="table" align="center">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Actividad</th>
                    <th scope="col">Duracion</th>
                    <th scope="col">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Desarrollo de vistas</td>
                    <td>120 Minutos</td>
                    <td>09/03/2020</td>
                  </tr>
                  <tr>
                    <td>Pruebas unitarias vista profile</td>
                    <td>180 Minutos</td>
                    <td>10/03/2020</td>
                  </tr>
                  <tr>
                    <td>Pruebas unitarias vista Actividad</td>
                    <td>240 Minutos</td>
                    <td>10/03/2020</td>
                  </tr>
                  <tr>
                    <td>Reunion de trabajo</td>
                    <td>60 Minutos</td>
                    <td>11/03/2020</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}