{% extends "trackerApp/base.html" %}

{% load static %}

{% block content %}

    <div class="container-fluid-margin ml-5 mt-5 col-sm">
        <div class="card p-3 mr-5" style="width: auto ; height: auto">
            <div class="row align-items-center">
                <div class="col text-center">
                    <input type="text" class="form-control text-center" style="border: none;" placeholder="Actividad">
                </div>
                <div class="col text-center">
                    <span class="align-middle">0:00</span>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary ">Comenzar</button>
                </div>
            </div>
        </div>
        <div class="card p-3 mr-5" style="width: auto ; height: auto">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Today</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Actividad: Piscina</td>
                    <td>Hora: TPM</td>
                    <td>CUALQUIER MIERDA</td>
                  </tr>
                  <tr>
                    <td>Actividad: Juninho Pernambucano</td>
                    <td>Hora: 420</td>
                    <td>@Marico  el que lo lea</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}