{% extends "trackerApp/base.html" %}

{% load static %}

{% block content %}

    <div class="container-fluid-margin ml-5 mt-5 col-sm">
        <div class="card p-3 mr-5" style="width: auto ; height: auto">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control " placeholder="Actividad">
                </div>
                <div class="col">
                    <input type="text" class="form-control " placeholder="First name">
                </div>
            </div>
        </div>
    </div>
{% endblock %}