{% extends "trackerApp/base.html" %}

{% comment %} Custom styles for this template {% endcomment %}
<link rel="stylesheet" type="text/css" href="../static/css/simple-sidebar.css">


{% block content %}

<div class="container-fluid">
    <div class="row card-center">
        <div class="container-fluid-margin  mt-5 col-8">
            <div class="card" style="width: 100% ; height: auto; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);" >
                <div class="card-body">
                  <div class="title">
                  <h1 class="card-title">Solicitar Prestamo</h1>
                  </div>
                  <form action="{% url 'trackerApp:loan' %}" method="post" >
                    <div>
                      {% csrf_token %}
                      <div class="form-group">
                        <div class="row">
                          {{ form.loan_amount.label }}
                        </div>
                        <div class="row">
                          {{ form.loan_amount }}
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          {{ form.loan_message.label }}
                        </div>
                        <div class="row">
                          {{ form.loan_message }}
                        </div>
                        <!-- <label for="exampleInputPassword1">Justificación</label>
                        <textarea style="resize: none" type="text" class="form-control" rows="4" 
                          id="exampleInputDescription" name="formInputDescription" maxlength="200" 
                          ></textarea> -->
                        <!-- <input type="text" class="form-control" id="exampleInputPassword1"  placeholder={{request.user.position}}> -->
                      </div>
                      <div class="form-group">
                        <div class="row">
                          {{ form.loan_date.label }}
                        </div>
                        <div class="row">
                          {{ form.loan_date }}
                        </div>
                      </div>
                    </div>
                    <div>
                      <li>
                        La fecha de pago puede cambiar
                        
                      </li>
                    </div>
                    <button type="submit" id="button-save" class="btn btn-primary">Enviar</button>
                  </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}