{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Simple Sidebar - Start Bootstrap Template{% endblock %}</title>

    {% comment %} Bootstrap core CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    {% comment %} Custom styles for this template {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
</head>

<body>
    <div class="d-flex" id="wrapper">
        {% block sidebar %}
        <div class="bg-light border-light" id="sidebar-wrapper">
            <div class="sidebar-heading">Tracker </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-light">Home</a>
                <a href="{% url 'profile' 1 %}" class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="{% url 'login' %}" class="list-group-item list-group-item-action bg-light">Logout</a>
            </div>
        </div>
        {% endblock %}

        {% comment %} Page Content {% endcomment %}
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labellledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            {% block content %}

            {% endblock %}

        </div>
        {% comment %} /#page-content-wrapper {% endcomment %}
    </div>
    {% comment %} /#wrapper {% endcomment %}

    {% comment %} Bootstrap core JavaScript {% endcomment %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% comment %} Menu Toggle Script {% endcomment %}
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>


</html>