{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="{% static 'jquery/profile.js' %}"></script>
    <script src="{% static 'jquery/activity.js' %}"></script>
    <title>{% block title %}Simple Sidebar - Start Bootstrap Template{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">

    {% comment %} Custom variables {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">

    {% comment %} Bootstrap core CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    {% comment %} Custom styles for this template {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
</head>

<body>
    <div class="d-flex" id="wrapper">
        {% block sidebar %}
        <div class="bg-light border-light" id="sidebar-wrapper">
            <div class="sidebar-heading">Tracker </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'trackerApp:index' %}" class="list-group-item list-group-item-action bg-light">Home</a>
                <a href="{% url 'trackerApp:profile' 1 %}"
                    class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="{% url 'trackerApp:activity' 1 %}"
                    class="list-group-item list-group-item-action bg-light">Activity</a>
                <a href="{% url 'trackerApp:login' %}"
                    class="list-group-item list-group-item-action bg-light">Logout</a>
            </div>
        </div>
        {% endblock %}

        {% comment %} Page Content {% endcomment %}
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a> -->
                            <div class="dropdown-menu dropdown-menu-right" aria-labellledby="navbarDropdown">
                                <!-- <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            {% block content %}

            {% endblock %}

        </div>
        {% comment %} /#page-content-wrapper {% endcomment %}
    </div>
    {% comment %} /#wrapper {% endcomment %}

    {% comment %} Bootstrap core JavaScript {% endcomment %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% comment %} Menu Toggle Script {% endcomment %}
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>


</html>