{% extends "trackerApp/base.html" %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% comment %} Custom styles for this template {% endcomment %}
  <link rel="stylesheet" type="text/css" href="../static/css/simple-sidebar.css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/base_loan.css' %}">
</head>

{% block content %}
<body>
  <div class="container-fluid">
      <div class="row card-center">
          <div class="container-fluid-margin  mt-5 col-8">
              <div class="card" style="width: 100% ; height: auto;" >
                  <div class="card-body">
                    <h5 class="card-title">Solicitar Prestamo</h5>
                    <form>
                      <div class="form-group lollo">
                        <label  for="exampleInputEmail1">Monto</label>
                        <input type="text" class="form-control"  placeholder=1000$>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Justificación</label>
                        <textarea style="resize: none" type="text" class="form-control" rows="4" 
                          id="exampleInputDescription" name="formInputDescription" maxlength="200" 
                          ></textarea>
                        <!-- <input type="text" class="form-control" id="exampleInputPassword1"  placeholder={{request.user.position}}> -->
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Fecha de pago</label>
                        <input type="text" class="form-control" id="exampleInputPassword2"  placeholder="Frontend">
                      </div>
                      
                      <button type="submit" id="button-save" class="btn btn-primary" hidden>Guardar</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>

  </div>
</body>
</html>
{% endblock %}