{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="{% static 'jquery/profile.js' %}"></script>
    <title>{% block title %}Simple Sidebar - Start Bootstrap Template{% endblock %}</title>

    {% comment %} Bootstrap core CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    {% comment %} Custom styles for this template {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex" id="wrapper">
        {% block sidebar %}
        <div class="bg-light border-light" id="sidebar-wrapper">
            <div class="sidebar-heading">Tracker </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'trackerApp:index' %}" class="list-group-item list-group-item-action bg-light"> <i class="fas fa-home"></i>  Home</a>
                <a href="{% url 'trackerApp:profile' request.user.id %}" class="list-group-item list-group-item-action bg-light"> <i class="fas fa-user-alt"></i>   Profile</a>
                <a href="{% url 'trackerApp:login' %}" class="list-group-item list-group-item-action bg-light"> <i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
        {% endblock %}

        {% comment %} Page Content {% endcomment %}
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </nav>
            {% block content %}

            {% endblock %}

        </div>
        {% comment %} /#page-content-wrapper {% endcomment %}
    </div>
    {% comment %} /#wrapper {% endcomment %}

    {% comment %} Bootstrap core JavaScript {% endcomment %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% comment %} Menu Toggle Script {% endcomment %}
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>


</html>