{% extends "trackerApp/base.html" %}

{% block content %}
<div class="container-fluid-margin ml-5 mt-5 col-sm">
    <div class="card p-3 mr-5" style="width: auto ; height: auto">
        <div class="row align-items-center">
            <div class="col text-center">
                <input type="text" class="form-control text-center" style="border: none;" placeholder="Actividad">
            </div>
            <div class="col text-center">
                <div id="reloj"></div>
            </div>
            <div class="col-sm-2">
                <button onclick="startStatus()" type="button" id="start-button" class="btn btn-primary ">Comenzar</button>
                <button onclick="finishStatus()" type="button" id="finish-button" class="btn btn-danger" hidden>Terminar</button>
            </div>
        </div>
    </div>
    <div class="card p-3 mr-5" style="width: auto ; height: auto">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Today</th>
                <th scope="col">Hora</th>
                <th scope="col">Duraci&oacute;n</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Actividad: Implementaci&oacute;n de nuevo Componente</td>
                <td>8:00AM</td>
                <td>1 Hora 15 minutos</td>
              </tr>
              <tr>
                <td>Actividad: Refactorizaci&oacute;n de c&oacute;digo</td>
                <td>9:15AM</td>
                <td>20 minutos</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}