{% extends "trackerApp/base.html" %}
<link rel="stylesheet" type="text/css" href="../static/css/simple-sidebar.css">
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid-margin ml-5 mt-5 col-sm">
            <div class="card" style="width: 18rem;">
                <img src="{{request.session.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ request.user.first_name }} {{request.user.last_name}} </h5>
                  <p class="card-text">{{request.session.description}}</p>
                  <div class="text-right">
                      <button onclick="edit()" class="btn btn-primary">Editar</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="container-fluid-margin  mt-5 col-8">
            <div class="card" style="width: 100% ; height: auto;" >
                <div class="card-body">
                  <h5 class="card-title">Informacion</h5>
                  <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo</label>

                      <input type="email" class="form-control" id="exampleInputEmail1" name="formInputEmail" readonly placeholder={{request.user.username}}>
                      
                      <!-- <small id="emailHelp" class="form-text text-muted">Tu nombre es muy Cool.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Cargo Actual</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" maxlength="20" name="formInputPosition" readonly placeholder="{{request.session.position}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Sexo</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <button class="btn btn-outline-secondary dropdown-toggle" id= "button-gender" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>Genero</button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Masculino</a>
                                <a class="dropdown-item" href="#">Femenino</a>
                                <a class="dropdown-item" href="#">Otro</a>
                              </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" readonly placeholder="Masculino">
                          </div>
                      </div>
                      <div class="form-group">
                      <label for="exampleInputDescription">Descripcion</label>
                      <textarea style="resize: none" type="text" class="form-control" rows="4" id="exampleInputDescription" name="formInputDescription" maxlength="200" readonly placeholder="{{request.session.description}}"></textarea>
                    </div>
                    <div class="form-group">
                    <label for="id_image">Foto de perfil</label>
                    <input id="id_image" type="file" class="" name="image" readonly placeholder="" disabled style="color:transparent">
                  </div>
                    <button type="submit" id="button-save" class="btn btn-primary" hidden>Guardar</button>
                  </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}