{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iniciar Sesi&oacute;n</title>

    {% comment %} Bootstrap core CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    {% comment %} Custom styles for this template {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
</head>

<body>
    <div class="d-flex" id="wrapper">

        {% comment %} Page Content {% endcomment %}
        <div id="page-content-wrapper">
            {% block content %}
            <form action="{% url 'trackerApp:login' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Inciar Sesión">
            </form>
            {% endblock %}

        </div>
        {% comment %} /#page-content-wrapper {% endcomment %}
    </div>
    {% comment %} /#wrapper {% endcomment %}
    
    {% comment %} Bootstrap core JavaScript {% endcomment %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>


</html>