{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iniciar Sesi&oacute;n</title>

    {% comment %} Bootstrap core CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    {% comment %} Custom styles for this template {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>

<body>
    <div class="d-flex" id="wrapper">

        {% comment %} Page Content {% endcomment %}
        <div id="page-content-wrapper">
            {% block content %}
            <div class="container-fluid h-vh">
                <div class="row align-items-center h-ei">
                    <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2">
                        <div class="row">
                            <div class="col-8 offset-2">
                                <div class="card bg-light mb-3">
                                    <div class="card-header header-txt">
                                        Registrar Nuevo Usuario
                                    </div>
                                    <div class="card-body">
                                        <form action="{% url 'trackerApp:login' %}" method="post">
                                            {% csrf_token %}
                                            <div class="container-fluid">
                                                <div class="row pad-top">
                                                    {{form.your_email.label_tag}}
                                                </div>
                                                <div class="row ">
                                                    {{ form.your_email}}
                                                </div>
                                                <div class="row pad-top">
                                                    {{form.your_pass.label_tag}}
                                                </div>
                                                <div class="row ">
                                                    {{ form.your_pass}}
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="row pad-topp cen-but">
                                                    <input type="submit" class="prueba but" value="Login">
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="row pad-topp cen-but">
                                                    <p><a href="{% url 'trackerApp:register' %}"> Registro de usuario</a></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    </div>
    </div>
    {% comment %} /#page-content-wrapper {% endcomment %}
    </div>
    {% comment %} /#wrapper {% endcomment %}

    {% comment %} Bootstrap core JavaScript {% endcomment %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>


</html>