body {
    background: linear-gradient(45deg, rgba(var(--color-primary-rgb),1) 0%, rgba(var(--color-secondary-rgb),1) 100%);
}

.h-vh {
    height: 100vh;
}

.h-ei {
    height: 100%;
}
.pad-top {
    padding-top: 2%;
}

.pad-topp {
    padding-top: 8%;
}

.expand {
    width: 100%;
}

.bord-card {
    border-radius: 25px;
}

.but {
    background: #00A6A6;
    font-size: 18px;
    padding: 4%;
    border: black;
    border-radius: 20px;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFF;
}

.cen-but {
    justify-content: center;
}

.header-txt {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.logo {
    margin: inherit;
    /* height: 100% !important; */
}

.link {
    color: #7D7F7D;
    font-size: 20px;
}