body {
    background: linear-gradient(45deg, rgba(var(--color-danger-rgb),1) 0%, rgba(var(--color-primary-rgb),1) 100%);
}

.h-vh {
    height: 100vh;
}

.h-ei {
    height: 100%;
}
.pad-top {
    padding-top: 2%;
}

.pad-topp {
    padding-top: 8%;
    padding-bottom: 8%;
}

.expand {
    width: 100%;
}

.but {
    background: #00a6a6;
    font-size: 18px;
    padding: 4%;
    border: black;
    border-radius: 20px;
    width: fit-content;
    color: #FFF;
}

.cen-but {
    justify-content: center;
}

.count {
    color: #7d7f7d;
}
.header-txt {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.bord-card {
    border-radius: 25px;
    font-size: 20px;
}

.logo {
    margin: inherit;
    /* height: 100% !important; */
}

.text {
    text-align: center;
    font-weight: bold;
    color: crimson;
}

.genero {
    border-color: darkgrey;
    border-radius: inherit;
}